spaces
python-dotenv
langchain
langchain-core
langgraph
langchain-community
langchain-groq
langchain-nvidia-ai-endpoints
langchain-openai
transformers>=5.0.0,<6.0.0
accelerate
huggingface_hub>=1.2.0,<2.0
opencv-python-headless
pillow
numpy
faster-whisper==1.2.1
av==12.3.0
easyocr
torch
einops
ftfy
