python-dotenv
langchain
langchain-core
langgraph
langchain-community
langchain-groq
langchain-nvidia-ai-endpoints
langchain-openai
transformers>=4.49,<5
accelerate
huggingface_hub
opencv-python-headless
pillow
numpy
faster-whisper==1.2.1
av==12.3.0
easyocr
einops
ftfy
timm
requests
